* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(190, 103, 62);
}

#container {
    transform: scale(2.5);
    border: 1px solid black;
    padding: 4px;
    background-color: burlywood;
}

#screen {
    background-color: rgb(147, 200, 247);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    width: 140px;
    height: 32px;
    margin-bottom: 4px;
    padding: 4px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    gap: 4px;
}

#buttons div {
    background-color: rgb(56, 136, 136);
    border: 1px solid black;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#delete {
    display: flex;
    gap: 4px;
}

#delete div{
    background-color: rgb(56, 136, 136);
    margin-bottom: 4px;
    border: 1px solid black;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}